/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

html, body {
    font-family: 'Inter', sans-serif;
}

.flogin {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Asegura que el contenido principal esté por encima del pseudo-elemento */
    height: 100vh;
}