<!-- Path: Components/Pages/informacionviajeActual.razor -->
@page "/informacionviajeActual"

<main class="p-2 min-h-screen">
    <div class="gap-2 grid grid-cols-2 grid-rows-4">
        <article class="p-2 bg-white/80 col-span-2 border-2 backdrop-blur-md">
            <h1 class="text-xl font-bold">Información del viaje</h1>

            <section class="flex w-full items-center justify-between">
                <span class="">Inicio de la línea</span>
                <span class="">Final de la línea</span>
            </section>
            <section class="flex w-full items-center justify-between">
                <span class="">Fecha de inicio</span>
                <span class="">Final de la salida</span>
            </section>
            <div>
                <h2 class="sr-only">Steps</h2>

                <div class="relative after:absolute after:inset-x-0 after:top-1/2 after:block after:h-0.5 after:-translate-y-1/2 after:rounded-lg after:bg-gray-100">
                    <ol class="text-gray-500 relative z-10 flex justify-between text-sm font-medium">
                        <li class="gap-2 bg-white p-2 flex items-center">
                            <span class="size-6 bg-gray-100 text-[10px]/6 rounded-full text-center font-bold"> 1 </span>

                            <span class="hidden sm:block"> Details </span>
                        </li>

                        <li class="gap-2 bg-white p-2 flex items-center">
                            <span class="size-6 bg-blue-600 text-[10px]/6 text-white rounded-full text-center font-bold">
                                2
                            </span>

                            <span class="hidden sm:block"> Address </span>
                        </li>

                        <li class="gap-2 bg-white p-2 flex items-center">
                            <span class="size-6 bg-gray-100 text-[10px]/6 rounded-full text-center font-bold"> 3 </span>

                            <span class="hidden sm:block"> Payment </span>
                        </li>
                    </ol>
                </div>
            </div>
        </article>

        <article class="p-2 bg-white/80 col-span-2 row-start-2 border-2 backdrop-blur-md">
            <h1 class="text-xl font-bold">Últimos registros</h1>
            <div class="m-2 p-2 bg-gray-100 flex justify-between rounded-md">
                <span>16:45</span>
                <span>Hago una parada al baño</span>
            </div>
            <div class="m-2 p-2 bg-gray-100 flex justify-between rounded-lg">
                <span>18:02</span>
                <span>Descanso en parada de camioneros </span>
            </div>
        </article>

        <div class="bg-white/80 row-start-3 border-2 backdrop-blur-md">
            <h2 class="text-lg font-medium">Factura de exportación</h2>
        </div>
        <div class="bg-white/80 col-start-1 row-start-4 border-2 backdrop-blur-md">
            <h2 class="text-lg font-medium">Factura MASAGRO</h2>
        </div>
        <div class="bg-white/80 col-start-2 row-start-3 border-2 backdrop-blur-md">
            <h2 class="text-lg font-medium">Guía de despacho</h2>
        </div>
        <div class="bg-white/80 row-start-4 border-2 backdrop-blur-md">
            <h2 class="text-lg font-medium">Manifiesto internacional</h2>
        </div>
    </div>
</main>