<!-- Path: Components/Pages/informacionviajeActual.razor -->
@page "/informacionviajeActual"

<main class="p-1">
    <!-- Grid padre -->
    <div class="gap-1 grid auto-rows-min grid-cols-2">
        <article class="p-2 bg-white/80 border-black col-span-2 min-h-min border-2 backdrop-blur-md">
            <h1 class="border-black border-2 text-xl font-bold">Información del viaje</h1>

            <section class="border-1 border-blue-500 flex-column flex-norap flex">
                <!-- Lado izquierdo-->
                <span class="border-dark border-2">Inicio línea</span>
                <span class="">Final linea</span>         
            </section>
            
            <section class="border-1 border-red-500 flex-inline flex-column">
                <!-- lado derecho-->
                <p class="text-right">final de la línea</p>
                <p class="text-right">final de la salida</p>
            </section> 
        </article>

        <article class="p-2 bg-white/80 border-black col-span-2 row-start-2 min-h-min border-2 backdrop-blur-md">
            <!-- Hijo -->
            <h1 class="text-xl font-bold">Últimos registros</h1>
            <div class="m-2 p-2 bg-gray-100 flex justify-between rounded-md">
                <span>16:45</span>
                <span>Hago una parada al baño</span>
            </div>
            <div class="m-2 p-2 bg-gray-100 flex justify-between rounded-lg">
                <span>18:02</span>
                <span>Descanso en parada de camioneros </span>
            </div>
        </article>

        <article class="bg-white/80 p-4 border-black row-start-3 size-full border-2 backdrop-blur-md"> <!-- Hijo -->
            <h2 class="text-lg font-medium">Factura de exportación</h2>
            <span class="text-green-500 text-xs">Ver documento</span>
        </article>
        <article class="bg-white/80 p-4 border-black col-start-1 row-start-4 border-2 backdrop-blur-md"> <!-- Hijo -->
            <h2 class="text-lg font-medium">Factura MASAGRO</h2>
            <span class="text-green-500 text-xs">Ver documento</span>
        </article>
        <article class="bg-white/80 p-4 border-black col-start-2 row-start-3 border-2 backdrop-blur-md"> <!-- Hijo -->
            <h2 class="text-lg font-medium">Guía de despacho</h2>
            <span class="text-green-500 text-xs">Ver documento</span>
        </article>
        <article class="bg-white/80 p-4 border-black row-start-4 border-2 backdrop-blur-md"> <!-- Hijo -->
            <h2 class="text-lg font-medium">Manifiesto internacional</h2>
            <span class="text-green-500 text-xs">Ver documento</span>
        </article>
    </div>
</main>

@code {

}