@inherits LayoutComponentBase

<PageTitle>AppWeb</PageTitle>

<div class="">

    <main>
        <nav class="py-2 bg-[#95D904] flex justify-between font-bold">
            <div class="bg-[#f8fafc] p-2 mx-8 rounded-bl-[35px] rounded-tr-[35px]">
                <a href="/"><img src="./images/logo2.png" alt="logo"></a>
            </div>
            <div class="mx-8 gap content-center">
                <div class="flex">
                    <div class="space-x-4 text-white flex">
                        <a class="border-white p-1 px-4 border-b-2 transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" href="/">Inicio</a>
                        <a class="border-white p-1 px-4 border-b-2 transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" href="Camioneroslist">Camioneros</a>
                        <a class="border-white p-1 px-4 border-b-2 transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" href="/admin/hisviajes">Historial viajes</a>
                        <a class="border-white p-1 px-4 border-b-2 transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" href="/admin/listaUsuarios">Usuarios</a>
                        <a class="border-white p-1 px-4 border-b-2 transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" href="/admin/adduser">Agregar usuario</a>
                    </div>
                    <form class="mx-6" action="/search" method="get">
                        <input class="p-2 border-white rounded-full transition duration-300 ease-in-out hover:scale-110 delay-150hover:-translate-y-1" type="text" name="query" placeholder="Search...">
                        <button class="px-2 text-white transition transition duration-150 duration-300 ease-in-out ease-in-out hover:text-white hover:scale-110 delay-150hover:-translate-y-1" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        
        <article class="main-container">
            @Body
        </article>
    </main>
</div>

<style>
    .main-container {
        position: relative;
        height: 100vh;
        overflow: hidden; /* Para asegurarte de que el pseudo-elemento no sobresalga */
    }

        .main-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/fondo1.png');
            background-size: cover;
            background-position: center;
            filter: blur(2px); /* Ajusta el valor del blur según tus necesidades */
            z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido principal */
        }

</style>