@inherits LayoutComponentBase

<div class="page bg-cover bg-center" style="background-image: url('images/fondo1.png')">

    <NavMenuTop />

    <main>
        <article class="content">
            @Body
        </article>
    </main>
    <NavMenu />
</div>
