@inherits LayoutComponentBase

<div class="page min-h-screen w-full bg-cover bg-fixed bg-center" style="background-image: url('images/fondo1.png')">

    <NavMenuTop />

    <main class="mb-16">
        <article class="content min-h-screen">
            @Body
        </article>
    </main>
    <NavMenu />
</div>
