<div class="navbar bottom-0 bg-gray-800 text-white p-4 fixed flex w-full justify-around" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="gap-3 bg-gray-800 text-white p-4 bottom-0 fixed flex w-full flex-row justify-between">
        <NavLink class="flex flex-1 flex-col items-center" href="counter">
            <Icon Name="IconName.CheckCircle" Class="w-6 h-6" />
            <span class="mt-1">Finalizar</span>
        </NavLink>

        <NavLink class="flex flex-1 flex-col items-center" href="" Match="NavLinkMatch.All">
            <Icon Name="IconName.Home" Class="w-6 h-6" />
            <span class="mt-1">Home</span>
        </NavLink>

        <NavLink class="flex flex-1 flex-col items-center" href="weather">
            <Icon Name="IconName.History" Class="w-6 h-6" />
            <span class="mt-1">Historial</span>
        </NavLink>
    </nav>

</div>
